@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/static/Comfortaa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.otf');
    font-weight: normal;
    font-style: normal;
}