$base-color: #8C4219;
$text: #3C2F22;
$choco: #4E372A;
$choco-light:#755340;
$mustard: #F9BA4F;
$bg: #fff;
$border: #EFEAE4;
$error: #FF0000;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$mobile-width: 480px;
$mintablet-width: 680px;
$vtablet-width: 769px;
$tablet-width: 1025px;
$desktop-width: 1280px;
$wide-width: 1920px;