.continue-shopping-button {
    // still empty
}

.success-alert-text {
    color: $green;
}

.warning-alert-text {
    color: $error-alert-text;
}

.error-alert-text {
    color: $error-alert-text;
}