# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#rest
.vscode
public/admin-assets/js/app-*
public/admin-assets/js/vendor-*
public/admin-assets/css/bundle-*
public/admin/index.html
public/content/*
!public/content/*.md
theme/dist/*
theme/assets/js/app-*
theme/assets/js/theme-*
theme/assets/css/bundle-*
theme/assets/index.html
theme/assets/sw.js
theme/assets/precache-manifest.*.js
dist/*
logs/*
npm-debug.log*
*.zip
theme/assets/workbox-83223c85.js

*.js
*.map
